<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Angular ToDo</title>
    <link rel="stylesheet" href="/css/vendor/bootstrap.css">
    <script src="js/vendor/angular.min.js"></script>
    <script src="build/app.min.js"></script>
    <style>
        a[ng-click] {
            cursor: pointer;
        }
        .row {
            margin-bottom: 40px;
        }
        .container {
            margin: 30px auto;
        }
        .done {
            text-decoration: line-through;
        }
        label {
            display: block;
        }
    </style>
</head>
<body ng-app="app">
    <div class="container" ng-cloak>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>ToDo App</h1>
                <hr>

                <form action="" method="POST" class="form-inline" role="form" ng-controller="NewTaskController">
                    <h4>Add a Task</h4>
                    <div class="form-group">
                        <label class="sr-only" for="newTask">Add Task</label>
                        <input type="text" class="form-control" name="newTask" placeholder="Add Task" ng-model="tasks.newTask">
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="addTask($event)">Add Task</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" ng-controller="TasksController">
                <h4>Current Tasks ({{ tasks.remaining() }} remaining)</h4>
                <ul class="list-group">
                    <li ng-repeat="task in tasks.data | filter:filter" class="list-group-item" ng-class="{'disabled':task.done}">
                        <label ng-class="{'done':task.done}">
                            <input type="checkbox" name="completed" ng-model="task.done" ng-change="tasks.toggleCompleted($index)">
                            &nbsp;{{ task.name }}
                            <a ng-click="tasks.removeTask($index)" class="close">&times;</a>
                        </label>
                    </li>
                </ul>
            </div><!-- /.col-sm-6 col-sm-offset-3 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="list-inline">
                    <li class="list-inline-item ">Show</li>
                    <li class="list-inline-item ">
                        <a class="label label-default" ng-class="{'label-primary': !filterName}" ng-click="setFilter()">All</a>
                    </li>
                    <li class="list-inline-item ">
                        <a class="label label-default" ng-click="setFilter('completed')" ng-class="{'label-primary':filterName=='completed'}">Completed</a>
                    </li>
                    <li class="list-inline-item ">
                        <a class="label label-default" ng-class="{'label-primary': filterName=='remaining'}" ng-click="setFilter('remaining')">Remaining</a>
                    </li>
                </ul><!-- /.list-inline -->
            </div><!-- /.col-sm-6 col-sm-offset-3 -->
        </div><!-- /.row -->
    </div>
</body>
</html>
